/* Header */
.contenedor {
    max-width: 1200px;
    margin: auto;
}
.estilo-titulo {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.estilo-titulo h3 {
    font-family: var(--MontserratLight);
    font-size: 12.5px;
    text-transform: uppercase;
    color: var(--TypeFuchsia);
}
.estilo-titulo h1 {
    font-family: var(--MontserratExtraLight);
    font-size: x-large;
    margin: 10px 0;
}
.estilo-titulo h1 strong {
    font-family: var(--MontserratRegular);
    font-size: x-large;
}
.estilo-titulo div {
    border: 1px solid var(--TypeFuchsia);
    width: 50px;
}

/* Sección de fotos */
.img-portfolio {
    max-width: 1100px;
}
.position {
    width: 100%;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.photo {
    width: 345px;
    height: 345px;
    position: relative;
    overflow: hidden;
}
.photoLarge {
    width: 708px;
    height: 345px;
    position: relative;
    overflow: hidden;
}
.photo-1 {
    background-image: url('../img/foto1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-2 {
    background-image: url('../img/foto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-3 {
    background-image: url('../img/foto3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-4 {
    background-image: url('../img/foto4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-5 {
    background-image: url('../img/foto5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-6 {
    background-image: url('../img/foto6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-7 {
    background-image: url('../img/foto7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.photo-1:hover .banner {
    top: 0%;
}
.photo-2:hover .banner {
    top: 0%;
}
.photo-3:hover .banner {
    top: 0%;
}
.photo-4:hover .banner {
    top: 0%;
}
.photo-5:hover .banner {
    top: 0%;
}
.photo-6:hover .banner {
    top: 0%;
}
.photo-7:hover .banner {
    top: 0%;
}
.banner {
    background-color: var(--Transparencia);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.banner h2 {
    font-family: var(--MontserratRegular);
    font-size: large;
}
.banner h4 {
    font-family: var(--MontserratExtraLight);
    margin: 7px 0;
}
.circulo {
    background-color: var(--TypeFuchsia);
    border-radius: 50%;
    padding: 2%;
}
.circulo i {
    color: white;
}

/* Galería de fotos */
.photo-galery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.photo-galery article figure {
    width: 250px;
    height: 300px;
    overflow: hidden;
}
.photo-galery figure img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 1s;
    filter: grayscale(100%);
}
.photo-galery figure:hover img {
    transform: scale(1.2);
    filter: grayscale(0%);
}
.personal {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
.personal h2 {
    font-family: var(--MontserratRegular);
    font-size: small;
}
.personal h5 {
    font-family: var(--MontserratLight);
    font-size: x-small;
    color: grey;
}
.linea-gray {
    border: 0.5px solid var(--LineaGrey);
    width: 100%;
    margin: 10px 0;
}
.social i {
    color: grey;
    margin: 0 5px;
}
.linea-gray-card {
    border: 0.5px solid var(--LineaGrey);
    margin: 30px 0;
    padding: 0 120px;
}
.icono {
    color: #ccc;
    margin-bottom: 10px;
    padding-top: 25px;
}

/* Precios */
.bigConteiner {
    margin: 0%;
    background: var(--backgroundGrey);
}
.card-price {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card-price article {
    margin: 25px 0;
    width: 325px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: white;
    transition: all 0.5s;
}
.card-price article:hover {
    box-shadow: 0px 0px 10px #ccc;
    transform: scale(1.05);
}
.card-price article h2 {
    font-family: var(--MontserratExtraLight);
    font-size: x-large;
}
.price {
    display: flex;
}
.price h1 {
    font-family: var(--MontserratBold);
    font-size: xx-large;
}
.price h6 {
    font-family: var(--MontserratBold);
    font-size: x-small;
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 2px;
}
.price .rosa {
    font-family: var(--MontserratRegular);
    font-size: small;
    margin-top: 20px;
    color: var(--TypeFuchsia);
}
.card-price article h3 {
    font-family: var(--MontserratExtraLight);
    font-size: small;
    margin: 10px 0;
    color: gray;
}
.card-price article a {
    border: 1px solid black;
    display: inline-block;
    margin-top: 35px;
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--MontserratRegular);
    font-size: small;
    color: black;
    transition: all 0.5s;
}
.card-price article a:hover {
    border: 1px solid var(--TypeFuchsia);
    background-color: var(--TypeFuchsia);
    color: #ccc;
}

/* Card info */
.card-info {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card-info article {
    margin-bottom: 100px;
    width: 325px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px #ccc;
    transition: all 0.5s;
    overflow: hidden;
}
.card-info article:hover figure {
    transform: scale(1.2);
}
.info {
    width: 280px;
    padding: 25px 0;
}
.card-info article figure img {
    width: 100%;
}
.card-info article h3 {
    font-family: var(--MontserratExtraLight);
    font-size: small;
}
.card-info article h1 {
    margin: 7px 0;
    font-family: var(--MontserratRegular);
    font-size: medium;
}
.card-info article h6, strong {
    font-family: var(--MontserratExtraLight);
    font-size: x-small;
}
.card-info article strong, .ross {
    color: var(--TypeFuchsia);
}
.linea-gray-info {
    border: 0.1px solid var(--LineaGrey);
    margin: 20px 0;
    padding: 0 120px;
}
.card-info article p, a {
    margin: 30px 0;
    font-family: var(--MontserratRegular);
    font-size: small;
}
.more {
    color: gray;
}